# java

.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
/a.txt
/b.txt
hs_err_pid*

# gradle

bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

# Maven

target/

# IntelliJ

out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Eclipse

.settings/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath


# OSX

.DS_Store
.flattened-pom.xml
